# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
math/~$derlying assumptions.docx
.DS_Store
PhysiCell/.DS_Store

PhysiCell/output/*.mat
PhysiCell/output_*/*.mat
PhysiCell/output/*.xml
PhysiCell/output_*/*.xml
PhysiCell/output/*.svg
PhysiCell/output_*/*.svg
PhysiCell/output/*.csv
PhysiCell/output_*/*.csv

